*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:root {
    --grey: #333;
    --white: #fff;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background: url(Image-resources/Main-Background.jpg) no-repeat;
    background-size: cover;
}

.wrapper {
    border-radius: 25px;
    max-width: 800px;
    margin: 20px auto; 
    background: url(Image-resources/Wood\ Background.jpg) no-repeat;
    background-size: cover;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.582);
}
.wrapper h1 {
    text-align: center;
    color: var(--white);
}

h1 {
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h3 {
    font-size: 25px;
    color: var(--white);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: 600;
}

ol {
    list-style-type: decimal;
    padding: 0;
    margin-left: 20px; 
}

li {
    font-size: 20px;
    margin: 10px 0;
    font-weight: 600;
    color: var(--grey);
}

a {
    text-decoration: none;
    color: var(--grey);
    font-weight: 700;
    font-size: 20px;
    transition: .5s;
}

a:hover {
    color: var(--white);
    font-size: 18.5px;
}
